

@use "bootstrap/scss/bootstrap" with (
  $primary:       #44b878,
  $secondary:     #ff4136,
  $success:       #28a745,
  $warning:       #ffc107,
  $danger:        #dc3545,
  $light:         #f8f9fa,
  $dark:          #343a40,
  $font-family-sans-serif: 'Arial', // Customize font
  $body-bg: #f8f9fa,                // Change body background color
);



////// works but the warning is still there
// $primary: #44b878;
// $danger: #ff4136;
// $success: #28a745;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
// $dark: #343a40;

// @import "bootstrap/scss/bootstrap";




// $primary:       $green;
// $secondary:     $gray-600;
